body {
  background-color: #eaeef3;
}
.menu-header{
    color: #FFF !important;
}

#logo-tphe{
    font-family: 'Indie Flower', cursive;
    color:gold;
    text-shadow: 1px 1px 1px #fff;
    font-size: 40pt
}

.sidebar{
    background-color: #222c3c;
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
}